.content-error-message {
    color: #d8000c;
    padding: 15px 15px;
    border-radius: 8px;
    font-size: 16px;
    min-width: 80%;
    margin-top: 10px;
  }
  
  .content-container {
    display: grid;
    grid-auto-rows: 60px;
    grid-template-columns: repeat(7, 1fr); /* This creates 7 columns */
    gap: 10px;
    align-items: start;
  }
  
  .content-header {
    font-weight: bold;
    display: contents;
  }
  
  .content-item {
    display: contents;
  }
  
  .content-item div {
    padding: 5px;
    text-align: center;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 4px solid #ddd;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
    max-width: 100px; /* Minimum width to keep boxes consistent */
    min-width: 100px;
    height: 20px; /* Ensure all items have the same height */
  }
  
  .content-item div:hover {
    background-color: #cbdceb;
    border: 4px solid #133e87;
  }
  
  .content-header div {
    padding: 5px;
    text-align: center;
    background-color: #608bc1;
    border: 1px solid white;
  }
  
  .content-item div:active {
    background-color: #133e87;
    color: white;
  }
  
  .content-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding-bottom: 60px; /* To prevent overlap with the fixed bottom section */
  }
  
  .content-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    align-items: center;
    padding: 10px;
    flex: 1; /* Ensures content takes up remaining space */
  }
  
  .content-header {
    font-weight: bold;
    display: contents;
  }
  
  .content-item {
    display: contents;
  }
  
  .content-item div {
    padding: 5px;
    text-align: center;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 4px solid #ddd;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .content-item div:hover {
    background-color: #cbdceb;
    border: 4px solid #133e87;
  }
  
  .content-header div {
    padding: 5px;
    text-align: center;
    background-color: #608bc1;
    border: 1px solid white;
  }
  
  .content-item div:active {
    background-color: #133e87;
    color: white;
  }
  
  .content-pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .content-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }
  
  .pagination-button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #133e87;
  }
  
  .pagination-button:disabled {
    color: #ccc;
    cursor: not-allowed;
  }
  
  .page-input {
    width: 10px;
    padding: 4px 4px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .page-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
  
  .add-word-button {
    padding: 10px 20px;
    background-color: #133e87;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-word-button:hover {
    background-color: #1a4b8a;
  }