/* src/page/style/Navbar.css */
.navbar {
  width: 200px; /* Fixed width for the left sidebar */
  height: 100vh; /* Full height of the viewport */
  position: fixed; /* Fixed positioning on the left side */
  top: 0;
  left: 0;
  background-color: #cbdceb; /* Light background color */
  border-right: 1px solid #ddd; /* Right border to separate navbar from content */
  padding-top: 20px; /* Add space at the top */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */
}

.navbar-menu {
  list-style: none; /* Remove list bullets */
  padding: 20px 0;
  margin: 0;
}

.navbar-menu li {
}

.navbar-link {
  text-decoration: none;
  color: #133e87; /* Link color */
  font-weight: 500;
  display: block; /* Ensure it takes up full width */
  padding: 20px 20px;
}

.navbar-link:hover {
  background-color: #f3f3e0; /* Highlight on hover */
}

.navbar-link.active {
  font-weight: bold;
  color: #f3f3e0;
  background-color: #133e87; /* Background color for active link */
  border-right: 4px solid #608bc1; /* Active link indication */
}
