.content-page {
  font-family: Arial, sans-serif;
  margin: 20px;
  position: relative; /* To allow absolute positioning of buttons within the container */
}

.search-bar-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-bar-container input {
  padding: 8px;
  width: 200px;
}

.search-bar-container select {
  padding: 8px;
}

.words-table table {
  width: 100%;
  border-collapse: collapse;
}

.words-table th,
.words-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.words-table tr:hover {
  background-color: #f1f1f1;
}

.word-details {
  margin-top: 20px;
}

.word-details p {
  font-size: 16px;
}

audio {
  margin-top: 10px;
}

/* New Style for the buttons container */
.buttons-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

/* Style for the individual buttons */
.button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background-color: #0056b3;
}
